.screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 0;

  /* hide scrollbar cross-browser */
  scrollbar-width: none;
}

.screen::-webkit-scrollbar {
  display: none;
}
